html,
button,
input,
select,
textarea {
    color: #222;
}

hr {
    position: relative;
    border: none;
}

hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #ccc;
}


.centered {
    text-align: center;
}


#github_link {
	display: block;
	float: left;
	padding: 15px 60px 15px 15px;
	color: #fff;
	background: url('../imgs/blacktocat.png') #0090ff no-repeat 95% 50%;
	font-weight: 700;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

#downloads {
	float: right;
	width: 95px;
	height: 105px;
	background: url('../imgs/icon_download.png') no-repeat 0% 80%;
}


.CV {
    /*display: block;*/
    float: right;
    width: 70px;
    height: 90px;
    margin-top: -1px;
    text-indent: -5000px;
    /*overflow: hidden;*/
    background: url('../imgs/CV_small.png');
}

#headerwrap {
	background: url(../imgs/bg2.jpg) no-repeat center top;
	margin-top: 50px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
    background-size: 100%;
    background-size: cover;
}

#headerwrap .circular {
	width: 300px;
	height: 300px;
	border-radius: 200px;
	margin: 0 auto;
	background: url(../imgs/icon.png) no-repeat;
	background-size: 300px;
	background-color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, .8);
}


.container{
	padding-top: 25px;
}

.white h1 {
	padding-top: 35px;
}

.white p {
	padding-top: 25px;
}

#resume .scribd_iframe_embed{
	padding-left: 50px; 
	padding-top: 50px;
	margin: 0 auto;
	height: 700px;
	width: 90%;
	max-width: 1300px;
}

/* Section Dividers */
.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;
    background-position: center center;
    background-size: 100%;
    background-size: cover;
    background-attachment: relative;
    text-align: center;
}

.textdivider h1 {
	padding-top: 70px;
	color: white;
	font-size: 40px;
}

.textdivider p {
	color: white;
	font-size: 25px;
}

.divider1 {
	background-image: url('../imgs/mac3.jpg')
}

.divider2 {
	background-image: url('../imgs/project4.jpg')
}

.divider3 {
	background-image: url('../imgs/writing1.jpg')
}



#socialwrap {
	background: url(../imgs/profile_pic.jpg) no-repeat center top;
	margin-top: 50px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
    background-size: 100%;
    background-size: cover;
}